page-home {
  background: url(../assets/images/main-bg.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.home-content{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 50;
}
.home-title{
  margin-top: 5%;
  height: 40vh;
  opacity: 0;
  @include scale(1.1);
  @include transition(all 1s ease 800ms);
}
.home-play{
  width:75px;
  height:80px;
  display: block;
  background: url(../assets/images/play.png) 50% 50% no-repeat ;
  background-size: contain;
  margin-bottom: 50px;
  opacity: 0;
  @include transition(opacity 500ms ease 1.5s);
  &:active{
    @include transition(all 300ms ease 0);
    @include scale(0.95);
  }
}
.home-credits{
  opacity: 0;
  width: 77px;
  position: absolute;
  margin:0 auto;
  left:0;
  right:0;
  bottom:5vh;
  height: 32px;
  display: block;
  background: url(../assets/images/text/about.svg) 50% 50% no-repeat;
  background-size: contain;
  @include transition(opacity 400ms ease 1.8s);

  &:active{
    @include transition(all 300ms ease 0);
    @include scale(0.95);
  }
}
@media (min-width:660px){
  .home-title{
    margin-top: 3%;
  }
}
@media (min-width:730px){
  .home-title{
      margin-bottom: 2%;
  }
}
@media (min-width:768px){
  .home-title{
    margin-top: 0;
    height: 35vh;
  }
  .home-play{
    width:150px;
    height:160px;
    margin-bottom: 50px;
  }
  .home-credits{
    width: 140px;
    height: 50px;
  }
}
