
@font-face {
    font-family: 'Tall Tulips';
    src: url('../assets/fonts/talltulips.eot');
    src: url('../assets/fonts/talltulips.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/talltulips.woff2') format('woff2'),
         url('../assets/fonts/talltulips.woff') format('woff'),
         url('../assets/fonts/talltulips.svg#tall_tulipsmedium') format('svg');

    font-weight: normal;
    font-style: normal;
}
.ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content,
.ios ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content,
.ios ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child .scroll-content,
.ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child .scroll-content,
.ios ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child .scroll-content{
  padding:0;
}
@import "../theme/animation";
@import "../theme/transition";

ion-app{
  font-family: 'Tall Tulips' !important;
  color:white !important;
  font-size: 20px !important;
  font-weight: normal;
  text-align: center;

  // background: url(../assets/images/main-bg.jpg) 50% 50% no-repeat;
  // background-size: cover;
}


.game-page page-game,
.home-page page-home{
  z-index: 200 !important;
  display: block !important;
}
h2,h3{
  text-shadow: 5px 5px 2px rgba(#222d0e,0.7);
  font-weight: normal;
}
ion-content{
  background: none;
}
ion-nav{
  position: static;
}
.enable-hover a:hover{
  opacity: 1;
}
.loaded {
  .cloud.big-left{
    transform: translate3d(-100%, 12%, 0);
    @include transition(all 2.5s ease 500ms);
  }
  .cloud.big-right{
    transform: translate3d(100%, 12%, 0);
    @include transition(all 2.5s ease 500ms);
  }
  .cloud.small-left{
    transform: translate3d(-100%, 12%, 0);
    @include transition(all 2.8s ease 500ms);
  }
  .home-title{
    opacity: 1;
    @include scale(1);
  }
  .home-play,
  .home-credits{
    opacity: 1;
  }
}
.cloud{
  pointer-events: none;
  display: block;
  position: fixed;

  &.long-4,
  &.long-3,
  &.long-2,
  &.long{
    position:absolute;
    z-index: 2;
    width: 146px;
    top: 16%;
    left: 19%;
    height: 69px;
    background: url(../assets/images/ambient/cloud-long.png) no-repeat 50% 50%;
    background-size: contain;
    @include animation(cloud 45s ease infinite forwards 1s);

  }
  &.long-4{
    left: 65%;
  }
  &.long-3{
    left: 33%;
  }
  &.long-2{
    left: 50%;
  }
  &.big-3,
  &.big-2,
  &.big{
    position:absolute;
    z-index: 2;
    width: 120px;
    top:10%;
    left: 13%;
    height: 56px;
    background: url(../assets/images/ambient/cloud.png) no-repeat 50% 50%;
    background-size: contain;
    @include animation(cloud 35s ease infinite forwards);
  }
  &.big-3{
    left: 43%;
  }
  &.big-2{
    left: 28%;
  }
  &.small-3,
  &.small-2,
  &.small{
    position:absolute;
    z-index: 2;
    width: 58px;
    top: 25%;
    left: 8%;
    height: 28px;
    background: url(../assets/images/ambient/cloud-small.png) no-repeat 50% 50%;
    background-size: contain;
    @include animation(cloud 40s ease infinite forwards 500ms);
  }
  &.small-3{
    left: 38%;
  }
  &.small-2{
    left: 58%;
  }
  //
  &.big-left{
    z-index: 100;
    width: 90%;
    bottom: 0;
    left: 0;
    transform: translate3d(0%, 15%, 0);
    height: 75%;
    background: url(../assets/images/ambient/cloud-big-left.png) no-repeat 0 100%;
    background-size: contain;
  }
  &.small-left{
    z-index: 110;
    width: 60%;
    bottom: 0;
    left: 0;
    height: 40%;
    transform: translate3d(0%, 15%, 0);
    background: url(../assets/images/ambient/cloud-small-left.png) no-repeat 0 100%;
    background-size: contain;
  }
  &.big-right{
    z-index: 120;
    transform: translate3d(0%, 18%, 0);
    width: 100%;
    bottom: 0;
    right: 0;
    height: 61%;
    background: url(../assets/images/ambient/cloud-big-right.png) no-repeat 100% 100%;
    background-size: contain;

  }
}
@media (min-width:768px){
  .cloud{
    &.long-4,
    &.long-3,
    &.long-2,
    &.long{
      width: 291px;
      height: 138px;
    }
    &.big-3,
    &.big-2,
    &.big{
      width: 240px;
      height: 112px;
    }
    &.small-3,
    &.small-2,
    &.small{
      width: 115px;
      height: 55px;
    }
  }
  .mobile{
    display: none;
  }
  .tablet{
    display: block;
  }
}
