<a class="game-menu-trigger" [ngClass]="{'active': menuActive}" (click)="toggleMenu()" [hidden]="!showedTutorial"></a>
<div class="game-menu modal" [ngClass]="{'active': menuActive}">
  <a class="game-menu-item play-again" (click)="playAgain()">
    <img src="assets/images/text/play-again.svg"/>
  </a>
  <a class="game-menu-item go-home" (click)="goHome()">
    <img src="assets/images/text/go-home.svg"/>
  </a>
</div>
<div class="game-content show-content" [ngClass]="{'show-content': !showTutorial}">
  <div class="sky"></div>
  <ion-slides keyboard="true" pager="false" parallax="true" speed="800" (ionSlideDidChange)="slideChanged()" *ngIf="showedTutorial">
      <div class="cloud-bg" data-swiper-parallax="130%">
        <div class="cloud big"></div>
        <div class="cloud long"></div>
        <div class="cloud small"></div>
        <div class="cloud big-2"></div>
        <div class="cloud long-2"></div>
        <div class="cloud small-2"></div>
        <div class="cloud big-3"></div>
        <div class="cloud long-3"></div>
        <div class="cloud small-3"></div>
        <div class="cloud long-4"></div>
      </div>
      <img class="front-bg" data-swiper-parallax="12%" src="assets/images/ambient/front.png" *ngIf="!mobile"/>
      <img class="front-bg" data-swiper-parallax="43%" src="assets/images/ambient/front.png" *ngIf="mobile"/>

      <ion-slide class="swiper-slide" *ngFor="let animal of animals" [ngClass]="{'play': animal.animated,'showed': animal.showed,'loaded': animal.loaded}" >
        <div class="reveal"></div>
        <img class="slide-title" src="assets/images/text/{{animal.name}}.svg" />
        <div class="slide-img hidden" [ngStyle]="{'background': 'url(assets/images/animals/shadow-' + animal.picture + ')'}" (click)="playSound(animal.id)"></div>
        <div class="slide-img showed" [ngStyle]="{'background': 'url(assets/images/animals/' + animal.picture + ')'}" (click)="playSound(animal.id)"></div>
        <div class="slide-img active" [ngStyle]="{'background': 'url(assets/images/animals/active-' + animal.picture + ')'}" (click)="playSound(animal.id)"></div>
      </ion-slide>

  </ion-slides>
</div>
<div class="game-finish modal" [ngClass]="{'active': showCongratulation}">
  <div *ngIf="!showedCongratulation">
    <div class="game-finish-image"></div>
    <img class="game-finish-title" src="assets/images/text/congratulation-title.svg"/>
  </div>
</div>
<div class="game-tutorial modal" [ngClass]="{'active': showTutorial}">
  <ion-slides pager="true" parallax="false" speed="800" (ionSlideDidChange)="tutorialSlideChanged()" *ngIf="!showedTutorial">
    <ion-slide class="show-slide swiper-slide">
        <div class="tutorial-step-animation step-1"></div>
        <img alt="" src="assets/images/text/onboarding-1.svg"/>
    </ion-slide>
    <ion-slide class="show-slide swiper-slide">
        <div class="tutorial-step-animation step-2"></div>
        <img alt="" src="assets/images/text/onboarding-2.svg"/>
    </ion-slide>
    <ion-slide class="show-slide swiper-slide">
        <div class="tutorial-step-animation step-3"></div>
        <img alt="" src="assets/images/text/onboarding-3.svg"/>
    </ion-slide>
  </ion-slides>
  <a class="tutorial-finish" (click)="hideTutorial()" *ngIf="showFinishTutorial">LET'S GO</a>
</div>
