.swiper{
  width: 100%;
height: 100%;
display: block;
}
.swiper-wrapper{
  z-index: 10;
}
page-game{
    background:url(../assets/images/ambient/tutorial-bg.jpg) no-repeat 0 0;
    background-size: cover;
}
.game-menu-trigger{
  width: 50px;
  height: 35px;
  background: url(../assets/images/hamburger.png) no-repeat 50% 0;
  background-size: 100% auto;
  position: fixed;
  top:30px;
  left:30px;
  z-index: 55;
  cursor: pointer;
  @include transition(background-position 0ms ease 800ms);
  &:active{
    -webkit-transition:all 300ms ease !important;
    transition:all 300ms ease !important;
    @include scale(0.95);
  }
  &.active{
    @include transition(background-position 0ms ease 0ms);
    background-position: 50% 100%;
  }
}
.modal{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 50;
  height: 100%;
  top:100%;
  left:0;
  opacity: 1;
  background: url(../assets/images/modal.png) 50% 50% no-repeat;
  background-size: cover;
  @include transition(opacity 300ms ease, top 0ms ease 700ms);

  &.active{
    @include transition(opacity 300ms ease);
    opacity: 1;
    top:0;
  }
}
.game-menu-item{
  opacity:0;
  @include scale(0.85);
  display: block;
  height: 70px;
  padding-left: 55px;
  &.play-again{
    background: url(../assets/images/play-again.png) 0% 50% no-repeat;
    background-size: auto 45px;
    @include transition(all 300ms ease 300ms);
  }
  &.go-home{
    background: url(../assets/images/go-home.png) 0% 50% no-repeat;
    background-size: auto 45px;
    @include transition(all 300ms ease 100ms);
  }
  img{
    height: 42px;
    margin-top: 14px;
  }
}
.game-menu.active{
  a{
    opacity: 1;
    @include scale(1);
    &.play-again{
      @include transition(all 300ms ease 100ms);
    }
    &.go-home{
      @include transition(all 300ms ease 300ms);
    }
  }
  a:active{
      @include transition(all 300ms ease 0);
      @include scale(0.95);
  }
}
.game-content{
  opacity: 0;
  left: 0;
  top: 0;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 5;
  &.show-content{
    opacity: 1;
    @include transition(all 700ms ease 100ms);

  }
}
.game-finish{
  z-index: 70;
  @include transition(opacity 300ms ease);
}
.game-finish-image{
  width: 111px;
  display: block;
  background: url(../assets/images/congratulation.png) no-repeat 50% 0;
  background-size: 100% auto;
  @include animation(congratulation_m 800ms steps(27) forwards );
  height:144px;
}
.game-finish-title{
  display: block;
  width: 48%;
  margin-bottom: 5%;
}
.front-bg{
  position: absolute;
  top:0;
  left:-70%;
  height: 100%;
  z-index: 3;
  max-width: 10000%;
}
.cloud-bg{
  position: absolute;
  top:0;
  left:-110%;
  height: 100%;
  width:800%;
  z-index: 1;
  max-width: 800%;
}
.sky{
  position: absolute;
  top:0;
  left:0%;
  z-index: 1;
  width:auto;
  width: 100%;
  height: 100%;
  background: url(../assets/images/ambient/sky.jpg) no-repeat 50% 0%;
  background-size: cover;
}

.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  background: url(../assets/images/slide-dot.png) no-repeat 50% 0%;
  background-size: 100% auto;
  opacity: 1;

  &.swiper-pagination-bullet-active{
    background-position: 0 100%;
  }
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom{
  display: none;
}
.swiper-slide{
  @include transition(opacity 500ms ease);
  z-index: 10;
  //opacity: 0;
  width: 100% !important;
  &.show-slide{
    opacity: 1;
  }
}
.slide-arrow{
  display: none;
}
.slide-title{
  position: absolute;
  height: 13vh !important;
  opacity:0;
  top:10%;
  font-weight: normal;
  text-transform: uppercase;
  left:0px;
  right:0;
  margin:0 auto;
  @include transition(opacity 400ms ease 300ms);
}
.swiper-slide .slide-img{
  @include translate3d(0,0,0);
  width: 100vh;
  height: 100vh;
  background-repeat: no-repeat !important;
  z-index: 1;
  opacity: 1;
  position: absolute;
  top:0;
  left:0;
  right:0;
  margin:0 auto;
  background-size: 90% auto !important;
  background-position: 50% 100% !important;
  &.hidden{
    @include transition(opacity 420ms ease);

    &::after{
      width: 20px;
      height: 50px;
      content: '';
      position: absolute;
      top:65%;
      z-index: 2;
      left:50%;
      margin:-20px auto 0;
      background: url(../assets/images/onboard/onboard-2-after.svg) no-repeat 0 0;
      background-size: 100% auto;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      @include animation(onboard_2 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate);
    }
  }
  &.showed{
    @include transition(opacity 420ms ease);
    opacity: 0;
    z-index: 2;
    display: none;
  }
  &.active{
    opacity: 0;
    z-index: 3;
    display: none;
  }
}
.reveal{
  width: 378px;
  height: 211px;
  background: url(../assets/images/reveal.png) no-repeat 50% 0;
  background-size: 100% auto;
  position: absolute;
  top:0;
  left:0;
  right:0;
  margin:auto ;
  z-index: 20;
  @include scale(0.6);
  pointer-events: none;
  opacity: 0;
}
.swiper-slide.loaded{
    .showed{
      display: block;
    }
}
.swiper-slide-active{
    .active,
    .showed{
      display: block !important;
    }
}
.swiper-slide.play{
  .showed{
    display: none !important;
  }
  .active{
    display: block !important;
    opacity: 1;
  }
}
.swiper-slide.showed{
  .showed,
  .slide-title{
    opacity: 1;
  }
  .hidden{
    opacity: 0;
  }
  .reveal{
    opacity: 1;
    @include animation(reveal 1440ms steps(24) forwards);
  }
}
.game-tutorial{
  z-index: 80;
  @include transition(none);
}
.tutorial-step-animation{
  position: relative;
  &.step-1{
    margin:0 auto 25px;
    width: 275px;
    height: 95px;
    background: url(../assets/images/onboard/onboard-1.png) no-repeat 0 0;
    background-size: 100% auto;
    @include animation(onboard_1_m 3s steps(46) infinite);
    animation-play-state:paused;
    -webkit-animation-play-state:paused;
    & ~ img{
      width: 190px;
    }
  }
  &.step-2{
    width: 130px;
    height: 115px;
    background: url(../assets/images/onboard/onboard-2.png) no-repeat 0 0;
    background-size: 100% auto;
    margin:0 auto 35px;

    &::after{
      width: 19px;
      height: 45px;
      content: '';
      position: absolute;
      top:50%;
      z-index: 2;
      left:50%;
      margin:-20px auto 0;
      background: url(../assets/images/onboard/onboard-2-after.svg) no-repeat 0 0;
      background-size: 100% auto;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      @include animation(onboard_2 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate);
    }
    & ~ img{
      width:251px;
    }
  }
  &.step-3{
    width: 150px;
    height: 138px;
    background: url(../assets/images/onboard/onboard-3.png) no-repeat 0 0;
    background-size: 100% auto;
    @include translate3d(15%,0,0);
    @include animation(onboard_3_m 2s steps(36) infinite);
    animation-play-state:paused;
    -webkit-animation-play-state:paused;
    margin:0 auto;
    & ~ img{
      width: 207px;
    }
  }
  .swiper-slide-active &{
    animation-play-state:running !important;
    -webkit-animation-play-state:running !important;
  }
}
.tutorial-bg{
  position: absolute;
  top:0;
  left:0;
  z-index: 60;
  width:auto;
  height: 100%;
}
.tutorial-finish{
  position: absolute;
  bottom:20px;
  right:20px;
  color:#ffe555;
  font-size: 45px;
  z-index: 5;
  cursor: pointer;
  -webkit-transition:all 300ms ease !important;
  transition:all 300ms ease !important;
  &:active{
    @include scale(0.95);
  }
}
.swiper-pagination{
  bottom: 20px !important;
}
@media (min-width:667px){
  .tutorial-step-animation{
    &.step-1 ~ img{
      width: 290px;
    }
    &.step-2 ~ img{
      width:351px;
    }
    &.step-3 ~ img{
      width: 307px;
    }
  }
}
@media (min-width:768px){
  .game-tutorial .swiper-slide img{
    margin-bottom: 5%;
  }
  .tutorial-step-animation{
    &.step-1{
      margin:0 auto 50px;
      width: 550px;
      height: 190px;
      @include animation(onboard_1 3s steps(46) infinite);
      animation-play-state:paused;
      -webkit-animation-play-state:paused;
      & ~ img{
        width: 480px;
      }
    }
    &.step-2{
      margin:0 auto 70px;
      width: 260px;
      height: 235px;

      &::after{
        width: 38px;
        height: 90px;
        content: '';
        left:50%;
        margin:-45px auto 0;
      }
      & ~ img{
        width:602px;
      }
    }
    &.step-3{
      width: 300px;
      height: 275px;
      @include translate3d(15%,0,0);
      @include animation(onboard_3 2.5s steps(36) infinite);
      animation-play-state:paused;
      -webkit-animation-play-state:paused;
      & ~ img{
        width: 514px;
      }
    }
  }
  .tutorial-finish{
    bottom:50px;
    right:50px;
    font-size: 64px;
  }
  .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
  }
  .swiper-pagination{
    bottom: 50px !important;
  }
  .game-menu-item{
    line-height: 120px;
    height: 120px;
    padding-left: 100px;
    font-size: 90px;

    &.play-again{
      background-size: auto 80px;
    }
    &.go-home{
      background-size: auto 80px;
    }
  }
  .game-finish-image{
      width: 222px;
      @include animation(congratulation 1s steps(27) forwards );
      height:288px;
  }

  .swiper-slide .slide-img.hidden{
    &::after{
      top:62%;
      width: 40px;
      height: 105px;
    }
  }
  .front-bg{
    left: -120%;
  }
  .reveal{
    top:2%;
    width: 756px;
    height: 422px;
  }
  .swiper-slide.showed{
    .reveal{
      @include animation(reveal 720ms steps(24) forwards);
    }
  }
}
